<div class="container container-smaller-margin">
  <h3>Welcome to the secret club of signers. Since you are a brave backer
    of our cause you are welcome to review a list of your fellow supporters.</h3>
  <ul class="list">
  {{#each name}}
    <li>
      {{#if this.url}}<a href="{{this.url}}">{{this.first_name}} {{this.last_name}}</a> {{else}} {{this.first_name}} {{this.last_name}} {{/if}}
      {{#if this.age}}({{this.age}}{{#if this.city}}, <a href="/petition/signers/{{this.city}}">{{this.city}}</a>{{/if}}){{/if}}
    </li>
  {{/each}}
  </ul>
</div>

<form id ="logout-button" method="post" action="/logout">
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
  <button class="button"  type="submit"><i class="fa fa-sign-out"></i> Logout</button>
  <p id="user-center">User: {{user.first}} {{user.last}}</p>
</form>


<img id="img-bottom-1"src="/../public/images/elephant_icon2.png" >
<img id="img-bottom-2"src="/../public/images/elephant_icon2.png" >
